<h2><%= @itinerary.name %></h2>
<%= @itinerary.destination_city %>
<%= @itinerary.start_date.strftime("%b %d, %Y") %>
<%= @itinerary.end_date.strftime("%b %d, %Y") %>
<ul>
<% if @itinerary.hotel_bookings.count > 0 %>
<% @itinerary.hotel_bookings.each do |hotel_booking| %>
  <li class="hotel-booking">
    <%= hotel_booking.location_name %> <%= link_to "View", itinerary_hotel_booking_path(@itinerary, hotel_booking) %> <%= link_to "Delete", [@itinerary,hotel_booking], method: :delete %>
    <%= hotel_booking.arrival_date.strftime("%b %d") %> - <%= hotel_booking.arrival_time.strftime("%I:%M%p") %><br />
    <%= hotel_booking.departure_date.strftime("%b %d") %> - <%= hotel_booking.departure_time.strftime("%I:%M%p") %><br />
  </li>
  <% end %>
<% end %>
</ul>
<%= link_to "Edit", edit_itinerary_path(@itinerary) %>
<%= link_to "Delete", @itinerary, method: :delete %>
<%= link_to "Add Lodging", new_itinerary_hotel_booking_path(@itinerary) %>
